body {
    background-image: url("./assets/login1.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px
    
}

.card-body {
    margin: 10px;
    display: flex;
  flex-direction: column;
}